*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.btn{
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
}

header{
  background-color: #3161E0;
  height: 100px;
  line-height: 100px;
}

.container{
  width: 90%;
  max-width:1080px;
  margin: auto;
}

.logo, nav, .container .btn{
  float: left;
}

.container .logo{
  height: 100%;
  position: relative;
}

.menu img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu{
  width: calc(100% - 200px);
  text-align: center;
}


.menuul{
  float: left;
  text-align: center;
  margin: auto 0
  ;
}

.menu ul li a, .btn a{
  list-style: none;
  text-decoration: none;
}

.menu ul li{
  display:inline-block;
  padding: 0 15px;
  list-style: none;
  text-decoration: none;
}


#accedi{
  width: 130px;
}
