*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #23272a;
}

.btn{
  background-color: white;
  display: inline-block;
  line-height: 30px;
  padding: 1px 12px;
  border-radius: 25px;
  color:black ;
}

.big{
  padding: 10px 20px;
}

.black{
  background-color: #23272A;
  color: #fff;
}

.container{
  width: 90%;
  max-width:1080px;
  margin: auto;
}

/********** HEADER **************/

header{
  background-color: #3161E0;
  height: 100px;
  line-height: 100px;
  
}

.logo, nav, #accedi{
  float: left;
}

.container .logo img{
  height: 100%;
  vertical-align: middle;
}

.menu img{
  vertical-align: middle;
}

.menu{
  width: calc(100% - 200px);
  text-align: center;
}


.menuul{
  float: left;
  text-align: center;
  margin: auto 0;
}

.menu ul li a, .btn{
  list-style: none;
  text-decoration: none;
}

.menu ul li{
  display:inline-block;
  padding: 0 15px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.menu ul li a:visited {
  color: #fff;
}

#accedi{
  font-size: 12px;
}

/************ MAIN **************/
/*********** JUMBOTRON ************/

.jumbotron{
  height: 500px;
  background-image: url("../img/jumbo.png");
  background-position: center;
  background-size:cover;
  color: white;
}

.jumbotron .container{
  text-align: center;
  max-width: 600px;
  padding-top: 110px;
}

.jumbotron h1{
  font-size: 40px;
  margin-bottom: 45px;
}

.jumbotron p{
  margin-bottom: 30px;
  line-height: 30px;
  font-weight: 500;
}

.options .btn a{
  text-decoration: none;
}

.options span{
  margin: 0 12px;
}

/************** TESTO ED IMMAGINI **************/

.color-bg .bg:nth-child(even){
  background-color: #9b9393;
  width: 100vw;
}

 .content, .image{
  float: left;
  margin: 20px;
}

.image{
  width: 60%;
}

.content{
  width: 30%;
  margin-top: 55px;
}

/* .content h1{
  font-size: 40px;
  margin-bottom: 15px;
}

.content p{
  font-size: 12px;
  line-height: 20px;
}

.content.left .image img{
  margin-left: 150px; 
} */